body {
    background-image: linear-gradient(rgba(158, 158, 158, 0.7), 
    rgba(145, 145, 145, 0.7)), 
    url(../../assets/bg.jpg);
    background-position: center;
    background-size: cover;
}

h1 {
    text-align: center;
}

.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px 40px;
}